[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "external/dotenv-cpp"]
	path = external/dotenv-cpp
	url = https://github.com/laserpants/dotenv-cpp.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/date"]
	path = external/date
	url = https://github.com/HowardHinnant/date.git
